*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main-container{
    display: flex;
}


nav{
    display: flex; 
    justify-content: space-around; 
    border: 1px solid blue;
}

aside{
    border: 1px solid red; 
    width: 20vw; height: 100vw; 
    display: flex; 
    flex-direction: column;
    align-content: center;
}

aside>ul{
    display: flex;
    justify-items: center;
    border-radius: 20%;;

}

aside>ul:hover{
    background-color: blue;
}

#content{
    width: 80vw;
    height: 100vw;
    border: 1px solid salmon;
}